body {
  font-family: sans-serif;
  margin: 0;  
}
.compact {       
float:left;
display:inline-block;
}
.full {
width:80%;
display:block;
}
input[type="number"] {
width:3em;
margin:0;
}
#Context input[type="text"], #AmelioOpp input[type="text"] {
line-height:1.2em;
width:15em;
margin:0;
}
input[type="text"] {
line-height:1.2em;
width:4em;
margin:0;
}
table{
margin:0;
padding:0;
}
fieldset {
background-color:rgba(187, 187, 189,0.2);
margin:1em;
border-radius:5px;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
legend{
    background-color:rgba(187, 187, 189,0.2);
border:1px solid black;
padding:0.5em;
border-radius:5px;
font-weight:bold;
box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
button {
margin:1em;
padding:1em;
font-weight:bold;
border-radius:5px;
}
button:hover {
color:black;

}
